/* colors: 
navy: #0D4650;
blue: #12BDD1;
cream: #FFF7E9;
tan: #F2C894;
brown: #A6785D;
black: #090909;
white: #fff; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #0D4650;
  background-color: #fff;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.container {
  max-width: 400px;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  height: 85px;
  background-color: #FFF7E9;
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#brand {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
#brand a {
  color: #0D4650;
}

.logo {
  width: 75px;
  height: 75px;
  padding-top: 10px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

a.svg {
  position: relative;
  display: inline-block;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Section Classes
.content {

}

.masthead {

}
.home {
  
}

.gallery {

}


.cards {
  display: flex;
  justify-content: space-between;
}
.cards .title {
  font-size: 2.5rem;
  color: #A6785D;
}

.img-container {
  float: left;
  width: 40%;
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
